:host {
  display: flex;
}

@media(max-width: 1019px) {
  :host {
    flex-direction: column;
    gap: 50px;
  }

  img {
    width: 80%;
    align-self: center;
  }
}

@media(min-width: 1020px) {
  :host {
    gap: 20px;
  }

  img {
    width: 500px;
  }

  .description {
    align-self: center;
  }
}

img {
  height: auto;
  background-color: #0d47a1;
  border-radius: 50%;
}
