html, body {
  font-size: 16px;
  height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.warning {
  color: #ff9300
}

.deprecated {
  color: #ad0000
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 40px;
  gap: 32px;
}

.card {
  margin-top: 25px;

  .header {
    background-color: #1e88e5;
    color: #fafafa;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 5px 5px 0 0;
  }

  .content {
    background-color: #333;
    border: .5px solid #444444;
    padding: 25px;

    code {
      display: block;
      margin-top: 20px;
    }
  }

}
