@media(max-width: 1029px) {
  mat-card {
    grid-column: span 12;
  }
}
@media(min-width: 1030px) {
  mat-card {
    grid-column: span 4;
  }
}

.encapsulation-mode-cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  margin: 20px 0;

  mat-card {
    color: #000;
  }
}
