:host {
  color: #fff;
  background-color: #0d47a1;
  position: relative;
  line-height: 24px;
  padding: 24px;
  z-index: 0;
  font-weight: 300;

  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: url('../../assets/logos/footer-background.png') top 0 left 0 repeat,
                url('../../assets/logos/footer-background.png') top 80px left 160px repeat;
    opacity: .05;
    background-size: 320px auto;
  }
}
